h1{
    text-align: center;
    margin:0px;
}
h2{
    text-align: end;
    margin:0px;
}
.list{
    overflow: auto;
    max-height: 47em;
}
a{
    color: black;
    outline: none;
    text-decoration: none;
}
.lastmodification{

    display: flex;
    justify-content: center;
}
.serie{
    display: flex;
    flex-direction: row;
}