h1{
    text-align: center;
    margin:0px;
}
h2{
    text-align: end;
    margin:0px;
}
.list{
    overflow: auto;
    max-height: 47em;
}
a{
    color: black;
    outline: none;
    text-decoration: none;
}
.lastmodification{
    display: flex;
    justify-content: center;
}
.alignement_droite{
    display: flex;
    flex-direction: row-reverse;
}
.alignement_gauche{
    display: flex;
    flex-direction: row;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.poster_serie{
    display: flex;
    justify-content: space-between;

}

img{
    margin:2em;
}